.vcenter-row
  vertical-align: middle
  float: none


.ellipsis-overflow-row
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap


.equal-height-cols
  display: table-cell
  float: none
  height: 100%
