@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons'
@import 'font-awesome/scss/font-awesome'

.vcenter-row
  vertical-align: middle
  float: none


.ellipsis-overflow-row
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap


.equal-height-cols
  display: table-cell
  float: none
  height: 100%


@mixin icon($icon)
  @include fa-icon
  @extend .fa
  @extend .fa-#{$icon}:before

@mixin line-clamp($lines)
  display: -webkit-box
  -webkit-line-clamp: $lines
  -webkit-box-orient: vertical
  overflow: hidden

@mixin column-count($cols)
  -webkit-column-count: $cols
  -moz-column-count: $cols
  -column-count: $cols

@mixin cat-btn($color)
  @include button-variant(white, $color, darken($color, 10%))

  &:hover
    cursor: pointer
    background-color: lighten($color, 10%)
    box-shadow: 1px 1px rgba(0, 0, 0, 0.22)

@mixin cat-hex($color)
  &:before
    content: " "
    width: 0
    height: 0
    border-bottom: 30px solid $color
    border-left: 52px solid transparent
    border-right: 52px solid transparent
    position: absolute
    top: -30px
    left: 0

  margin-top: 30px
  width: 104px
  height: 60px
  background-color: $color
  position: relative
  text-align: center

  &:after
    content: ""
    width: 0
    position: absolute
    bottom: -30px
    border-top: 30px solid $color
    border-left: 52px solid transparent
    border-right: 52px solid transparent
    left: 0

  i.fa
    font-size: 50px
    color: white
    line-height: 1.2


.pn-cat-circle
  border-radius: 50px
  margin: 4px
  width: 50px
  height: 50px
  text-align: center
  i.fa
    line-height: 50px
    content: " "
    font-size: 25px
    color: white

.pn-cat-circle-sm
  @extend .pn-cat-circle
  width: 35px
  height: 35px
  margin: 3px
  i.fa
    line-height: 35px
    font-size: 18px

.pn-cat-circle-lg
  @extend .pn-cat-circle
  width: 85px
  height: 85px
  margin: 6px
  i.fa
    font-size: 38px
    line-height: 85px
