div.pn-activity-feed
  div.pn-activity-block.col-md-12.row-eq-height
    div.pn-activity-date.col-md-2 Jan 14
    div.pn-feed-img-partnr.col-md-1
      img(src="img/user.png" alt="Picture")

    div.pn-activity-text.col-md-6
      span.pn-activity-username User's Name
      span.pn-activity-content  dolor sit amet, consectetur adipiscing elit. Fusce eget risus odio. Vestibulum egestas accumsan condimentum. Phasellus mollis consectetur nisi nec scelerisque. Duis vel auctor sem. Nulla quis volutpat elit, id suscipit enim. Ut eu lacinia diam. Duis eget hendrerit tortor. Maecenas malesuada cursus metus, vel varius mi posuere ac. Etiam scelerisque accumsan sem, at porta orci.

div.pn-activity-feed
  div.pn-activity-block.col-md-12.row-eq-height
    div.pn-activity-date.col-md-2 Jan 14
    div.pn-feed-img-partnr.col-md-1
      img(style="background-image: url(img/example_profile.png);")

    div.pn-activity-text.col-md-6
      span.pn-activity-username User's Name
      span.pn-activity-content  quis volutpat elit, id suscipit enim. Ut eu lacinia diam.