div.pn__activity-feed
  div.row
    div.col-xs-3.pn__activity-user
      div.pn__img-partnr
        img(src="/img/user.png")
      |  User's name here
    div.col-xs-9.pn__activity-text
      | Here is what the user did
