div.pn__activity-feed
  div.pn__activity-block
    div.pn__activity-date Jan 14
    div.pn__activity-user.pn__img-partnr
      img(src="img/user.png" alt="Picture")

    div.pn__activity-text
      .pn__activity-username User's Name
      .pn__activity-content finished a task on Environmental Sustainability

  div.pn__activity-block
    div.pn__activity-date Jan 12
    div.pn__activity-user.pn__img-partnr
      img(src="img/user.png" alt="Picture")

    div.pn__activity-text
      .pn__activity-username User's Name
      .pn__activity-content started a new project: Environmental Sustainability
