div.pn__activity-feed
  div.row
    div.col-sm-3.pn__activity-user
      a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
        img(src="/img/user.png")
      |  User's name here
    div.col-sm-9.pn__activity-text
      | Here is what the user did
