div.pn-activity-feed
  div.pn-activity-block
    div.pn-activity-date Jan 14
    div.pn-activity-user.pn-img-partnr
      img(src="img/user.png" alt="Picture")

    div.pn-activity-text
      .pn-activity-username User's Name
      .pn-activity-content finished a task on Environmental Sustainability

  div.pn-activity-block
    div.pn-activity-date Jan 12
    div.pn-activity-user.pn-img-partnr
      img(src="img/user.png" alt="Picture")

    div.pn-activity-text
      .pn-activity-username User's Name
      .pn-activity-content started a new project: Environmental Sustainability
