div.pn-conreq.container-fluid
  div.row
    div.col-xs-2.pn-conreq-user
      div.pn-img-partnr
        img(src="/img/user.png")
      p.pn-user-name User's name here
    div.col-xs-4.pn-conreq-msg
      | Here is the message from the user that explains why they are sending a connection request to the other user.
    div.col-xs-1.pn-conreq-action
      div.pn-conreq-accept
      div.pn-conreq-decline
