div.pn__conreq.container-fluid
  div.row
    div.col-xs-2.pn__conreq-user
      div.pn__img-partnr
        img(src="/img/user.png")
      p.pn__user-name User's name here
    div.col-xs-4.pn__conreq-msg
      | Here is the message from the user that explains why they are sending a connection request to the other user.
    div.col-xs-1.pn__conreq-action
      div.btn.pn__conreq-accept
      div.btn.pn__conreq-decline
