div.content-container.no-padding.project-tile.col-sm-4
  div.pn__img-placeholder
    div.ptile-partnrs-wrapper
      div.ptile-partnrs
        a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
          img(src="/img/user.png")
        a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
          img(src="/img/user.png")
        a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
          img(src="/img/user.png")
  div.ptile-info
    h3 Project Title
    h5
      i.fa.fa-arrow-circle-right
      |  In Progress
    p Here's a description of the project. This will be limited in length due to space conerns
    div.clearfix
      div.col-xs-4
        a.ptile-detail-nugget(href="#")
          i.fa.fa-comment
            span 24
      div.col-xs-8.button-right
        button.pn__btn-primary Check it out
