div.pn-role-card.container-fluid
  div.pn-img-bg.row
    div.pn-img-placeholder
  div.pn-card-content.row
    div.col-xs-6
      div.pn-role-title
        h3 Role Title
      div.pn-proj-title
        h5 Project Title
      div.pn-role-apply
        div.pn-btn-primary Apply
    div.col-xs-6
      div.pn-cat-circle-lg(data-toggle="tooltip" data-placement="top" title="Business")
        i.fa.fa-line-chart
