div.pn-search-bar.form-inline
  div.pn-search-query-group.input-group
    input.form-control(type="text" placeholder="Search")
    div.input-group-addon.pn-btn-search
  div.pn-search-filter-group.btn-group(data-toggle="buttons")
    label.pn-btn-default.btn
      input(type="checkbox" autocomplete="off")
      | Users
    label.pn-btn-default.btn
      input(type="checkbox" autocomplete="off")
      | Projects
    label.pn-btn-default.btn
      input(type="checkbox" autocomplete="off")
      | Roles
    label.pn-btn-default.btn
      input(type="checkbox" autocomplete="off")
      | Groups
