div.pn-task-card
  div.pn-task-card-title-group
    div.pn-task-card-title Here is the task title
    div.pn-edit-btn
  div.pn-task-card-detail-group
    div.pn-task-due June 17, 2016
    div.pn-task-description This is a more detailed description of the task.
      | This can go on for a little longer than normal, but it gets cut off eventually.
      | This should contain a good amount of information about the task at hand so that users
      | can do the task properly while being well informed.
  div.pn-task-card-icon-group
    div.pn-task-users
      a.pn-img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
        img(src="img/user.png" alt="Picture")
    div.pn-column-group
      div.pn-task-categories
        div.pn-cat-software.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Software")
          i.fa.fa-laptop
      div.pn-task-skills.pn-skills-container
        div.pn-skill-tag Java
        div.pn-skill-tag C++
        div.pn-skill-tag GCC
