div.pn__task-card
  div.pn__task-card-title-group
    div.pn__task-card-title Here is the task title
    div.pn__edit-btn
  div.pn__task-card-detail-group
    div.pn__task-due June 17, 2016
    div.pn__task-description This is a more detailed description of the task.
      | This can go on for a little longer than normal, but it gets cut off eventually.
      | This should contain a good amount of information about the task at hand so that users
      | can do the task properly while being well informed.
  div.pn__task-card-icon-group
    div.pn__task-users
      a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
        img(src="img/user.png" alt="Picture")
      a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
        img(src="img/user.png" alt="Picture")
      a.pn__img-partnr(href="#" data-toggle="tooltip" data-placement="top" title="User's Name")
        img(src="img/user.png" alt="Picture")
    div.pn__column-group
      div.pn__task-categories
        div.pn__cat-circle
      div.pn__task-skills.pn__skills-container
        div.pn__skill-tag Java
        div.pn__skill-tag C++
        div.pn__skill-tag GCC
