div.pn-user-card
  div.pn-user-card-top-row
    div.pn-user-card-image
      a.pn-img-partnr(href="#")
        img(src="img/user.png" alt="Picture")
    div.pn-user-card-name
      | User's Name
    div.pn-user-card-position
      | Software Engineer at Kyruus
  div.pn-user-card-mid-row
    div.pn-user-card-location
      | Boston, MA
    div.pn-user-card-projects
      | 19 Projects
  div.pn-user-card-bottom-row
    span.pn-user-card-category-secondary
      div.pn-cat-circle-sm(data-toggle="tooltip" data-placement="top" title="Film")
        i.fa.fa-film
    span.pn-user-card-category-primary
      div.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Computer Science")
        i.fa.fa-laptop
    span.pn-user-card-category-secondary
      div.pn-cat-circle-sm(data-toggle="tooltip" data-placement="top" title="Business")
        i.fa.fa-line-chart
  div.pn-user-card-footer.pn-skills-container
    div.pn-skill-tag Java
    div.pn-skill-tag Solid Works
    div.pn-skill-tag Microsoft Office
