div.pn-cat-business.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Business")
  i.fa.fa-line-chart

div.pn-cat-engineering.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Engineering")
  i.fa.fa-gears

div.pn-cat-life-science.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Life Sciences")
  i.fa.fa-paw

div.pn-cat-physical-science.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Physical Sciences")
  i.fa.fa-flask

div.pn-cat-mathematics.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Mathematics")
  i.fa.fa-percent

div.pn-cat-software.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Software")
  i.fa.fa-laptop

div.pn-cat-electronics.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Electronics")
  i.fa.fa-plug

div.pn-cat-health-science.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Health Sciences")
  i.fa.fa-heartbeat

div.pn-cat-agriculture.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Agriculture")
  i.fa.fa-leaf

div.pn-cat-education.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Education")
  i.fa.fa-graduation-cap

div.pn-cat-writing.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Writing")
  i.fa.fa-newspaper-o

div.pn-cat-visual-art.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Visual Arts")
  i.fa.fa-paint-brush

div.pn-cat-music.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Music")
  i.fa.fa-music

div.pn-cat-performing-art.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Performing Arts")
  i.fa.fa-film

div.pn-cat-policy-law.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Policy & Law")
  i.fa.fa-gavel

div.pn-cat-culture.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Culture")
  i.fa.fa-globe

div.pn-cat-economics.pn-cat-circle(data-toggle="tooltip" data-placement="top" title="Economics")
  i.fa.fa-money
