div.docs-btn-group
  button.btn.btn-default
    | Default
  button.pn-btn-primary
    | Primary
  button.pn-btn-success
    | Success
  button.pn-btn-info
    | Info
  button.pn-btn-warning
    | Warning
  button.pn-btn-danger
    | Danger
