div.docs-btn-group
  button.btn.btn-default
    | Default
  button.pn__btn-primary
    | Primary
  button.pn__btn-success
    | Success
  button.pn__btn-info
    | Info
  button.pn__btn-warning
    | Warning
  button.pn__btn-danger
    | Danger
