$pn__primary-color: #04859d

// secondary-color should change
$pn__secondary-color: #333

$pn__accent-color: #ff9a39
$pn__accent-border: #ff8d20

$pn__neutral-color: #f0f0f0
$pn__neutral-border: #f0f0f0
$pn__neutral-background: #f0f0f0
$pn__light-background: #fcfcfc

$pn__default-yellow: #ff9a39

$pn__default-border-color: #c3dde2
