$pn-primary-color: #04859d


// blues
$pn-primary-blue: #002b33
$pn-primary-blue-border: darken($pn-primary-blue, 5%)
$pn-secondary-blue: #49a4b6
$pn-secondary-blue-border: darken($pn-secondary-blue, 5%)
$pn-accent-blue: #04859d
$pn-highlight-blue: #48cce6

// yellows
$pn-primary-yellow: #ff9a39
$pn-primary-yellow-border: darken($pn-primary-yellow, 5%)
$pn-secondary-yellow: #ff9a39
$pn-secondary-yellow-border: darken($pn-secondary-yellow, 5%)
$pn-accent-yellow: #ff9a39
$pn-accent-yellow-border: darken($pn-accent-yellow, 5%)


/******* indicative colors *******/
$pn-error-red: #af0004
$pn-error-red-border: darken($pn-error-red, 5%)
$pn-success-green: #078f00
$pn-success-green-border: darken($pn-success-green, 5%)
$pn-warning-yellow: #efd905
$pn-warning-yellow-border: darken($pn-warning-yellow, 5%)


/******* text colors *******/
$pn-text-grey-dark: #444444
$pn-text-grey-light: #f0f0f0


/******* backgrounds *******/
// "tile background" in color guide
$pn-default-bg: #ffffff
// "header background" in color guide
$pn-primary-bg: #eeeeee
// "secondary nav background" in color guide
$pn-secondary-bg: #f9f9f9
// "header drop shadow" in color guide
$pn-primary-bg-shadow: #aaaaaa
// "secondary nav drop shadow" in color guide
$pn-secondary-bg-shadow: #cccccc


/*********** THESE WERE MADE ON THE FLY, DEPRECATE THEM SOON *******************/
$pn-accent-color: #ff9a39
$pn-accent-border: #ff8d20

$pn-neutral-color: #f0f0f0
$pn-neutral-border: #f0f0f0
$pn-neutral-background: #f0f0f0
$pn-light-background: #fdfdfd

$pn-default-yellow: #ff9a39

$pn-default-border-color: #c3dde2
