@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons'
@import '../variables/colors'
@import '../mixins'

.pn__btn-primary
  @include button-variant(white, $pn__accent-color, $pn__accent-border)
  @extend .btn

.pn__btn-warning
  @include button-variant(white, $pn__warning-yellow, $pn__warning-yellow-border)
  @extend .btn

.pn__btn-danger,
.pn__btn-error
  @include button-variant(white, $pn__error-red, $pn__error-red-border)
  @extend .btn

.pn__btn-success
  @include button-variant(white, $pn__success-green, $pn__success-green-border)
  @extend .btn

.pn__btn-info
  @include button-variant(white, $pn__secondary-blue, $pn__secondary-blue-border)
  @extend .btn

.pn__skill-btn
  @include button-variant(white, $pn__highlight-blue, darken($pn__highlight-blue, 10%))
  @extend .btn
  @extend .btn-sm


.pn__conreq-btn-connect
  @extend .pn__btn-success
  min-width: 40px
  &:before
    @include icon(plus)
    margin-left: -3px

.pn__conreq-btn-connected
  @extend .pn__btn-info
  min-width: 40px
  &:before
    @include icon(check)

.pn__conreq-btn-requested
  @extend .pn__btn-warning
  min-width: 40px
  &:before
    @include icon(arrow-right)

.pn__conreq-btn-respond
  @extend .pn__btn-primary
  min-width: 40px
  &:before
    @include icon(envelope-o)

.pn__conreq-accept
  @extend .pn__btn-success
  min-width: 40px
  &:before
    @include icon(check)

.pn__conreq-decline
  @extend .pn__btn-danger
  min-width: 40px
  &:before
    @include icon(times)

.pn__edit-btn
  @extend .pn__btn-primary
  min-width: 40px
  font-size: 16px
  &:before
    @include icon(pencil)

.pn__conreq-btn-group-popover
  text-align: center

  .btn
    margin: 5px
    margin-left: 10px
    margin-right: 10px
