@import "../mixins"
@import "../variables/colors"

.pn-cat-hex-business
  @include cat-hex($pn-accent-blue)

.pn-cat-circle
  border-radius: 50px
  margin: 4px
  width: 50px
  height: 50px
  text-align: center
  background-color: $pn-accent-blue
  i.fa
    font-size: 25px
    color: white
    line-height: 1.9

.pn-cat-circle-sm
  @extend .pn-cat-circle
  width: 35px
  height: 35px
  margin: 3px
  i.fa
    font-size: 18px
    line-height: 1.9

.pn-cat-circle-lg
  @extend .pn-cat-circle
  width: 85px
  height: 85px
  margin: 6px
  i.fa
    font-size: 38px
    line-height: 2.2
