@import '../variables/colors'

.pn__conreq
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22)
  max-width: 700px

  .pn__conreq-user,
  .pn__conreq-msg,
  .pn__conreq-action
    @extend .vcenter-row
    @extend .equal-height-cols
    background-color: $pn__secondary-bg
    border-top: 1px solid $pn__default-border-color
    border-bottom: 1px solid $pn__default-border-color
    &:hover
      background-color: darken($pn__secondary-bg, 5%)

  .pn__conreq-user
    border-bottom-left-radius: 3px
    border-top-left-radius: 3px
    border-left: 1px solid $pn__default-border-color
    text-align: center
    max-width: 100px

    .pn__img-partnr
      width: initial
      height: initial
      display: block
      margin-top: 7px
      background-color: rgba(0,0,0,0)
      border-color: rgba(0,0,0,0)
      img
        width: 70px

    .pn__user-name
      padding-top: 10px
      padding-bottom: 7px

  .pn__conreq-action
    border-bottom-right-radius: 3px
    border-top-right-radius: 3px
    border-right: 1px solid $pn__default-border-color

    .btn
      display: block
      margin-top: 15px
      margin-bottom: 15px
      min-height: 30px
