@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients'
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/progress-bar'
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes'
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables'
@import 'bootstrap-sass/assets/stylesheets/bootstrap/progress-bars'
@import '../variables/partnr'
@import '../classes/card'
@import '../mixins'

.pn-milestone-card
  @extend .pn-ui-card

  .pn-milestone-card-title
    font-weight: 500
    font-size: $pn-font-lg
  .pn-milestone-card-progress
    @extend .progress
  .pn-milestone-due
    color: #777
    &::before
      @include icon(calendar)
      margin-right: 4px
  .pn-milestone-task-count
    float: right
    color: #999999
    cursor: pointer
    font-size: 18px
    &:hover,
    &:hover:after
      text-decoration: none
      color: #777
    &:after
      @include icon(tasks)
      margin-left: 4px

  .pn-milestone-due,
  .pn-milestone-task-count,
  .pn-milestone-card-title,
  .pn-edit-btn
    display: inline

  .pn-milestone-card-title-group
    margin-bottom: 20px

    .pn-edit-btn
      float: right
