@import "../mixins"
@import "../variables/partnr"
@import "buttons"

.pn-skills-container
  margin-top: 8px
  margin-bottom: 8px
  display: inline

  .pn-skill-tag
    @extend .pn-skill-btn
    margin: 3px
    display: inline-block
    padding-top: 3px
    padding-bottom: 3px
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px
    &::before
      content: ""
      display: inline-block
      height: 10px
      width: 10px
      border-radius: 1em
      background-color: white
      margin-right: 4px
