@import '../variables/partnr'
@import '../classes/card'
@import '../mixins'

.pn-task-card
  @extend .pn-ui-card

  .pn-task-card-title
    font-weight: 500
    font-size: $pn-font-lg
  .pn-task-due
    color: #777
    &::before
      @include icon(calendar)
      margin-right: 4px

  .pn-task-due,
  .pn-task-card-title,
  .pn-edit-btn
    display: inline-block

  .pn-task-card-detail-group
    margin-top: 15px

    .pn-task-description
      margin-top: 10px
      @include line-clamp(3)

  .pn-task-card-title-group
    .pn-edit-btn
      float: right

  .pn-task-card-icon-group
    @include column-count(2)
    margin-top: 15px
    .pn-task-users,
    .pn-task-categories,
    .pn-task-skills
      display: inline

    .pn-column-group
      text-align: right

    .pn-task-users
      display: inline-block
      width: 130px
      max-height: 130px
      min-height: 80px
      .pn-img-partnr
        display: initial
        img
          width: 60px

    .pn-skills-container
      .pn-skill-tag
        margin-bottom: 0
