head
  title Partnr Style Guide
  link(rel="stylesheet", href="/css/docs.css")
body
  div.container-fluid
    div.row
      img.img-responsive(src="img/logo.png")
  div.row
    nav.col-xs-3.bs-docs-sidebar
      ul.nav.nav-stacked.docs-fixed
        li
          a(href="#project-tile") Project Tiles

    div.col-xs-9.bs
      section.group#project-tile
        h3 Project Tiles
        include ./components/project-tile.jade

  script(src="/js/test.js")
