head
  title Partnr Style Guide
  link(rel="stylesheet", href="/css/docs.css")
body
  div.container-fluid
    div.row
      img.img-responsive(src="img/logo.png")
  div.container-fluid
    div.row
      div.col-xs-3.bs-docs-sidebar
        nav(data-spy="affix", data-offset-top="400")
          ul.nav.nav-stacked
            li
              a(href="#buttons") Buttons
            li
              a(href="#project-tile") Project Tiles
            li
              a(href="#activity-feed") Activity Feed
            li
              a(href="#connection-request") Connection Request
            li
              a(href="#skills-categories") Skills and Categories
            li
              a(href="#progress-cards") Project Progress Cards
            li
              a(href="#user-card") User Profile Card
            li
              a(href="#search-bar") Search Bar

      div.col-xs-9
        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#buttons Buttons


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Bootstrap Buttons
              span.text-muted These are buttons that come out of the box by default, skinned with Partnr colors
            div.pn-docs-example.docs-example-bootstrap-buttons
              include ./components/buttons/standard.jade


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Partnr Domain Specific Buttons
              span.text-muted These are buttons that we use specifically for our application, you won't find these in other places

            div.pn-docs-example.docs-example-bootstrap-buttons
              div.pn-docs-example
                div.pn-docs-example-header
                  h3 Connection Request Buttons
                  span.text-muted These buttons are used for connection requests in the application (click them to see how they work)
                include ./components/buttons/conreq.jade

              div.pn-docs-example
                div.pn-docs-example-header
                  h3 Connection Request Buttons (condensed)
                  span.text-muted These buttons are used when there isn't enough space on the screen to display the full text action
                include ./components/buttons/conreq-condensed.jade



        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#project-tile Project Tiles
            span.text-muted These tiles are found in the search &amp; explore sections of Partnr

          div.pn-docs-example.docs-example-project-tile
            include ./components/project-tile.jade



        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#activity-feed Activity Feed

          div.pn-docs-example.docs-example-activity-feed
            include ./components/activity-feed.jade



        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#connection-request Connection Request


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Connection Request Buttons
              span.text-muted These buttons are used to respond to a connection request

            div.pn-docs-example.docs-example-bootstrap-buttons
              include ./components/buttons/conreq-card.jade


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Connection Request Card
              span.text-muted This is the component that the user will see when they receive a connection request

            div.pn-docs-example.docs-example-connection-request
              include ./components/connection-request.jade
              
              
        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#skills-categories Skills and Categories
  

          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Categories
              span.text-muted These are the icons the user will see to indicate a category of skills.

            div.pn-docs-example.docs-example-categories
              div.pn-docs-example
                div.pn-docs-example-header
                  h3 Category Icon (circle)
                  span.text-muted These are circle category icons
                include ./components/skills/cat-circle.jade

            div.pn-docs-example.docs-example-categories
              div.pn-docs-example
                div.pn-docs-example-header
                  h3 Category Icon (hexagon)
                  span.text-muted These are hexagonal category icons
                include ./components/skills/cat-hex.jade


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Skills
              span.text-muted These are the icons the user will see to indicate a skill tag.

            div.pn-docs-example.docs-example-skills
              include ./components/skills/skills.jade


        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#progress-cards Project Progress Cards
            
            
          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Milestone Card
              span.text-muted This is the card that will be displayed for a project's milestones

            div.pn-docs-example.docs-example-milestone-card
              include ./components/milestone-card.jade


          div.pn-docs-subsection
            div.pn-docs-subsection-header
              h2 Task Card
              span.text-muted This is the card that will be displayed for a project's tasks

            div.pn-docs-example.docs-example-task-card
              include ./components/task-card.jade
              
              
              
        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#user-card User Profile Card
            span.text-muted This is the card that will be displayed when a user is searched for

          div.pn-docs-example.docs-example-user-card
            include ./components/user-card.jade


        div.pn-docs-section.container-fluid
          div.pn-docs-section-header
            h1.page-header.group#search-bar Search Bar
            span.text-muted This is the bar that will be displayed over a searchable area

          div.pn-docs-example.docs-example-search-bar
            include ./components/search-bar.jade

  
  script(src="/js/test.js")
